ol li{
    background-color: lightgray;
}
li{
    margin: 10px;
}
.title{
    background-color: lightblue;
    color: lightyellow;
    text-decoration:underline;
}
h1{
    margin-top: 10px;
    margin-left: 40px;
    color:burlywood
}
.subtitle{
    margin-left: 40px;
}
body{
    background-color:bisque;
}